/*-----layout-------*/



/*-navbar-*/
nav.navbar-transparente {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.4);
}

.divisor {
    width: 1px;
    visibility: hidden;
    margin: 12px 15px;
}

/*-centro-*/
#home {
    height: 576px;
    width: 100%;
    padding-top: 200px;
    
}


.logo {
    text-align: center;
    
}

.campo-buscar {
    padding: 15px;
}

.botao {
    padding: 20px
}

button {
    margin: 0 5px;
}

footer {
    background: black;
}